<template>
  <div class="todo-head">
    <h1 class="todo-head__title">{{ todoHeading }}</h1>
    <div class="todo-head__subtitles">
      <div class="todo-head__subtitle">Завершено: {{ getTodosCompletedLength() }} из {{ getTodosLength() }}</div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      todos: {
        type: Array,
        required: true,
      },
      todoHeading: {
        type: String,
        required: true,
      },
    },
    methods: {
      getTodosLength() {
        return this.todos.length;
      },
      getTodosCompletedLength() {
        return this.todos.filter(t => t.completed).length;
      },
    }
  }
</script>

<style>
  .todo-head {
  }

  .todo-head__title {
    margin: 0;
  }

  .todo-head__subtitles {
    display: flex;
    color: #ccc;
  }

  .todo-head__subtitle:not(:last-child) {
    margin-right: 16px;
  }
</style>
