<template>
  <ul class="todo-list">
    <li
        is="ToDoItem"
        v-for="todo in todos"
        :key="todo.id"
        :todo="todo"
    ></li>
  </ul>
</template>

<script>
  import ToDoItem from '@/components/ToDoItem.vue';

  export default {
    components: {
      ToDoItem
    },
    props: {
      todos: {
        type: Array,
        required: true,
      }
    },
  }
</script>

<style scoped>
  .todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>
