<template>
  <form class="todo-form" @submit.prevent="handleAdd">
    <div class="todo-form__input">
      <label for="todo-title" class="todo-form__label">Новая задача</label>
      <input id="todo-title"
             type="text"
             class="todo-form__control"
             v-model="todoNewTitle"
      >
    </div>
    <button type="submit">Добавить</button>
  </form>
</template>

<script>
  export default {
    props: {
      todos: {
        type: Array,
        required: true,
      },
    },
    data() {
      return {
        todoNewTitle: '',
      }
    },
    methods: {
      handleAdd() {
        this.todos.push({
          completed: false,
          title: this.todoNewTitle,
          id: this.todos.length + 1,
          userId: 1,
        });

        this.resetForm();
      },
      resetForm() {
        this.todoNewTitle = '';
      },
    },
  };
</script>

<style scoped>
  .todo-form {
  }

  .todo-form__input {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
  }

  .todo-form__label {
    margin-bottom: 4px;
  }
</style>
