<template>
  <li
      class="todo-item"
      :class="{ 'todo-item--completed': todo.completed }"
  >
    <label class="todo-item__checkbox">
      <input
          type="checkbox"
          :checked="todo.completed"
          @change="todo.completed = !todo.completed"
      >
      {{ todo.title }}
    </label>
  </li>
</template>

<script>
  export default {
    props: {
      todo: {
        type: Object,
        required: true,
      }
    },
  }
</script>

<style scoped>
  .todo-item {
    display: flex;
  }

  .todo-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  .todo-item--completed .todo-item__checkbox {
    background-color: #f2f2f2 !important;
  }

  .todo-item__checkbox {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 8px;
  }

  .todo-item__checkbox input {
    margin-right: 16px;
  }

  .todo-item__checkbox:hover {
    background-color: #fafafa;
  }
</style>
