<template>
  <div id="app">
    <div class="todo-app">
      <div class="todo-app__box pb-0">
        <ToDoHead
            :todos="todos"
            :todoHeading="todoHeading"
        ></ToDoHead>
      </div>
      <div class="todo-app__box">
        <ToDoList
            :todos="todos"
        ></ToDoList>
      </div>
      <div class="todo-app__box">
        <ToDoFormAdd
            :todos="todos"
        ></ToDoFormAdd>
      </div>
    </div>
  </div>
</template>

<script>
import ToDoHead from '@/components/ToDoHead.vue';
import ToDoList from '@/components/ToDoList.vue';
import ToDoFormAdd from '@/components/ToDoFormAdd.vue';

export default {
    name: 'App',
    components: {
      ToDoHead,
      ToDoList,
      ToDoFormAdd,
    },
    data() {
      return {
        todoHeading: 'Список задач',
        todos: [],
      }
    },
    async mounted() {
      this.todos = await this.fetchTodos();
    },
    methods: {
      fetchTodos() {
        return fetch('https://jsonplaceholder.typicode.com/todos?_limit=10')
            .then(response => response.json())
      },
    }
  }
</script>

<style scoped>
  .todo-app {
    margin: 64px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .todo-app__box {
    padding: 24px;
  }

  .pb-0 {
    padding-bottom: 0;
  }
</style>
